body{
    background-color:#222629;
    color:white;
    text-align: left;
}

h1{
    margin-left:15%;
    margin-top:3%;
    margin-right:15%;
    font-size:40px;
}

h2{
    color:#87c232;
    margin-left:15%;
    margin-top:3%;
    margin-right:15%;
    font-size:25px;
}

p{
    color:#6a6e71;
    margin-left:15%;
    margin-top:1%;
    margin-right:15%;
    font-size:20px;
}
